<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>

<body>
    <nav class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#">{{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}</a></li>
    </nav>
    <header class='header'>
        <h1>TechBlog</h1>
    </header>

    <main>
        {{{body}}}
    </main>
    
    {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>