<div class="comment">
    <p class="comment-content">Comment here</p>
    <button class="comment-btn">Comment</button>
    <form class="comment-form" style="display: none;">
        <textarea class="comment-textarea"></textarea>
        <button type="submit">Save</button>
    </form>
</div>

<script src="/js/comment.js"></script>