<h1>Dashboard</h1>

<div class="post">
    <p class="post-content">Post content goes here</p>
<div>
    {{#each posts as |post|}}
    <section>
        {{post.post_name}}
        {{post.post_content}}
    </section>
    {{/each}}
</div>
    <button class="edit-btn">Edit Post</button>
    <form class="edit-form" style="display: none;">
        <textarea class="edit-textarea"></textarea>
        <button type="submit">Save</button>
        <button type="delete">Delete</button>
    </form>

</div>

<script src="/js/editPost.js"></script>