.post-page{
    padding: 2rem;
}
.post-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.post-card{
    max-width: 35rem;
    min-width: 17rem;
    padding: 1rem;
    background-color: tan;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.8);
}